/* common shared styles */
body {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
/* header saction styles */
.header {
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  display: flex;
  gap: 250px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.banner-content {
  max-width: 500px;
}

.banner-title {
  display: flex;
  width: 708px;
  flex-direction: column;
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: -10px;
}

.banner-description {
  display: flex;
  width: 634px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.banner-pic {
  width: 400px;
}

/* main section styles */
.featured-flower {
  margin-top: 100px;
  text-align: center;
}

/* featured flower styles */
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* flower type styles */
.flower-type {
  display: flex;
  justify-content: space-around;
  padding: 0 150px;
  align-items: center;
}

.flower-info {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
}

.img-1 {
  border-radius: 500px 500px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0;
}

.img-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
}

.img-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0;
}

/* service section styles */
.our-service {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px 185px;
}

.service {
  padding: 65px 150px;
  align-items: center;
  text-align: center;
}

/* deal section styles */
.hot-deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 95px 250px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.spical-text {
  color: #e55473;
}

/* social media section styles */
.social-pic {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin: 48px 185px;
  align-items: center;
}
.social {
  text-align: center;
  padding: 90px 650px 30px;
}

/* coupon section styles */
.coupon {
  text-align: center;
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  margin: 50px 222px;
  padding: 100px 500px;
}

.email {
  padding: 18px 400px 18px 18px;
  border: 0;
  border-radius: 8px;
  margin-bottom: 17px;
}

/* footer section */
footer {
  background: #111010;
  padding: 150px 500px 150px 500px;
  text-align: center;
}

.footer-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

.address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
